.colorear {
    background: linear-gradient(to bottom right, #2a2f4f, #01000c);
    background-size: cover;
  }
  .stroke{
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
  }
  .sombras{
    text-shadow: 1px 1px 10px rgb(77, 9, 129);
  }
  .sombras2{
    text-shadow: 1px 3px 1px rgb(132, 2, 253);
  }
  .boton{
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: 0.5s;
    padding: 20px 40px;
  
  }
  .boton:hover{
    border: 2px solid #fff
  }
  .boton::before{
    content: "";
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
  }
  .boton::after{
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 1s;
  }
  .boton:hover::before {
    inset: 0 -12px;
    transform: skewY(15deg);
  }
  .boton:hover::after{
    inset: -12px 0;
    transform: skewX(15deg);
  }


  /*estilos texto neon */