.colorear {
  background: linear-gradient(to bottom right, #2a2f4f, #01000c);
  background-size: cover;
}
.moradoOscuro{
  background: rgb(42,47,79);
  background: radial-gradient(ellipse at center bottom, rgba(42,47,79,1) 44%, rgba(1,0,12,1) 100%)
}
.transparente{
  background: rgba(255, 255, 255, 0)
}
.sombras{
  text-shadow: 1px 3px 1px rgb(61, 1, 139);
}